<!DOCTYPE html>
<html>
  <head>
    <title>UamingSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-xs-right">
            <li class="nav-item">
              <a class="nav-link" href="/pages/home">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/price">Price</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/about">About</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">UAMing The Site</h3>
      </div>
      <%= yield %>
      <footer class="footer">
        <p>&copy; Uaming Site 2016</p>
      </footer>
    </div>
    
  </body>
</html>
